.Main-filmes{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}
.selecionar-horario{
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.horarios-disponivies{
    width: 80vw;
}