.selecione-assento{
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-assento{
    display: flex;
    justify-content: center;
}
.assentos{
    width: 350px;
    display: flex;
    flex-wrap: wrap;
}