.Horario{
    width: 80vw;
    margin-bottom: 25px;
}
.horarios-caixa{
    width: 83px;
    height: 43px;

    background-color: #E8833A;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 30px;
    margin-right: 10px;
}
.container-horarios{
    display: flex;
    
}
.horarios-caixa p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}